ul#navBar {
  list-style-type: none;
  margin: 0px;
  padding: 3px;
  overflow: hidden;
  background-color: #262425
}

li.navLILeft {
  float: left;
}

li.navLIRight {
  float: right;
}

li a.navLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navLILeft:hover {
  background-color: #5628e2;
}

.navLIRight:hover {
  background-color: #ef6461;
}

.mainArea {
  display: block;
  margin: auto;
  padding: 20px;
}

#mainTitle {
  color: #5628e2;
  text-align: center;
}

#landingText {
  color: #262425;
}

.blockButton {
  display: block;
  margin: auto
}

#searchingButton {
  color: white;
  background: #5628e2;
  border: #5628e2;
  height: 40px;
  width: 15%;
  align-content: center;
}

button:hover {
  box-shadow: 0 4px #262425;
  transform: translateY(3px);
  transition: 0.3s;
}

button.location, button.type, button.skills, .filterBtn {
  background-color: #26bfb3;
  border: #26bfb3;
  color: white;
  padding: 10px;
  margin: 10px;
  display: inline
}

.allJobs {
  background-color: #26bfb3;
  border: #26bfb3;
  color: white;
  padding: 15px;
  margin: auto;
  display: block
}

.jobCard {
  border-style: solid;
  border-color: #26bfb3;
  border-width: 5px;
  padding: 5px 15px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%
}

.jobCardTitle {
  text-align: center;
}

.jobH {
  display: inline;
  margin: 10px
}

.notLoggedInBtn, .applyBtn {
  background-color: #26bfb3;
  color: white;
  border: #26bfb3;
  padding: 10px;
  margin: 10px;
  display: inline
}

#applicationTitle, #appSuccess, #logInPlease {
  text-align: center;
  padding: 15px
}

#motivationInput, #coverLetterInput {
  width: 60%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0px 10px;
  border: 1px solid #7830bf;
}

.applicationBtn {
  background-color: #7830bf;
  color: white;
  border: #7830bf;
  margin: 10px 0px 0px 0px;
  padding: 10px;
  display: inline
}

.usernameEntry, .passwordEntry {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ef6461;
}

.loginPgBtn {
  background-color: #ef6461;
  color: white;
  border: #ef6461;
  margin: 10px 0px;
  padding: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #262425
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}